<%- include('partials/header', { title: 'Add Form'}); %>
    <a href="/">Home</a>
    <a href="/category">Exercise's Categories </a>
    <h1>Form Add Exercise <%= data.type %> </h1>

    <form action="/category/<%= data.id %> /add" method="post">
        <div class="form-group">
            <label for="question">Input soal</label> <br>
            <input type="text" class="form-control" id="formGroupExampleInput"  name="question">
        </div>
        <div class="form-group">
            <label for="">Jawaban Benar</label> <br>
            <input  type="text" class="form-control" name="answer"><br><br>
        </div>
        <div class="form-group">
            <label for="">Jawaban Salah</label> <br>
            <input type="text" class="form-control"  name="answer2"><br><br>
        </div>
        <div class="form-group">
            <label for="">Jawaban Salah</label> <br>
            <input type="text" class="form-control" id="formGroupExampleInput2"  name="answer3"><br><br>
        </div>
            <input type="submit" value="Submit">  
        </div>
    </form>
<%- include('partials/footer'); %>
