<%- include('partials/header', { title: 'Form Login Role'}); %>
    <h1>Pick Your Role</h1>
    <br>
    <a href="/loginteacher" class="btn btn-success">Teacher</a>
    <a href="/loginstudent" class="btn btn-info">Student</a>
<%- include('partials/footer'); %>
