<%- include('partials/header', { title: 'Student Task'}); %>
    <h1 style="display: flex; justify-content: space-around;">Welcome to Te{A}ch</h1>
    <p style="display: flex; justify-content: space-around;">Teach Yourself Your Self by Tech </p>
    <p style="display: flex; justify-content: space-around;">Created by Maulida and Raymond </p>
    <a href="/login"  class="btn btn-success">Login</a>
    <a href="/register"  class="btn btn-primary">Register</a>
<%- include('partials/footer'); %>
