<%- include('partials/header', { title: 'Register'}); %>

    <h1>Register Studs!</h1>

    <form action="/register" method="post">
        <div class="form-group">
            <label for="name">Name</label> 
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label for="">Username/Email</label> <br>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label for="">Password</label> <br>
            <input type="password" class="form-control" name="password"> 
        </div>
        <input type="submit" class="btn btn-primary" value="Regist!">
    </form>
<%- include('partials/footer'); %>
